.containerPersonas{
    display: flex;
    flex-flow: row nowrap;
    flex-basis: 0;
}

.containerLibros{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

