/*===========CSS GENERAL==============*/

body {
  margin: 0;
  max-width: 100vw;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://images.unsplash.com/photo-1495446815901-a7297e633e8d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*MAIN ABARCA TODO MENOS EL MENU DE ARIBA (NAVBAR) Y FOOTER*/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: 90vh;
  background-color: rgba(0, 0, 0, 0.534);
}

/*===========VARIABLES==============*/
:root {
  --main-color: white;
  --dark-color: darkslategrey;
  --secondary-dark-color: teal;
  --gray-color: rgb(204, 204, 204);
  --transparent-color: rgba(255, 255, 255, 0.808);
}

/*===========FONTS==============*/
h1 {
  font-size: 100px;
  font-weight: bolder;
  color: var(--main-color);
}

/*===========CONTENEDORES==============*/
.container {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 50px;
  border-radius: 10px;
  background-color: var(--transparent-color);
}

.container button {
  margin: 10px 0;
  font-size: 18px;
}

/*===========LINKS==============*/
button a{
  color: var(--main-color);
  text-decoration: none;
}

button a:hover{
  font-weight: bold;
  color: var(--main-color);
}
